{% extends 'base.html' %}


{% block contenido %}

    <center>
        
        <br>
        <li>{{ articulos.titulo }}</li>
        <li>{{ articulos.subtitulo }}</li>
        <li>{{ articulos.categoria }}</li>

        <li>{{ articulos.contenido }}</li>
        <img src="{{ articulos.imagen.url }}" alt="">
        <br>
        <a id="boton_post" href="{% url 'apps.posts:delete_post' id=articulo_ind.id %}">
            <button>Eliminar Noticia</button>
        </a>
    </center>



{% endblock %}